/* Very useful code for debugging layout spacing. */
/* * {
  border: 2px solid red
} */

body {
  /* We will not be using the Google Fonts API due to privacy concerns for the end user:
  https://www.zylstra.org/blog/2022/01/using-google-fonts-breaches-gdpr/
  https://github.com/google/fonts/issues/1495 */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* Making the default theme dark so I don't kill
  my eyes while I am coding this */
  background: black;
  color: white;

  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%; 
}

@media screen and (min-width: 425px) {
  h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 24px;
  }
}

.header,
.footer {
  background: rgb(0, 0, 78);
}

.contact-button {
  background: rgb(40, 40, 50);
  color: white;
  border-radius: 6px;
  font-size: 16px;
  padding: 6px;
}

.header {
  padding: 8px
}

.header-info {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 64px;;
}

.header-links {
  display: flex;
  gap: 16px;
}

.welcome {
  background-color: rgb(0, 0, 78);
  padding: 8px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 425px) {
  .welcome h1 {
    margin: 0;
    font-size: 64px;
  }
}

@media screen and (max-width: 425px) {
  .welcome h1 {
    margin: 0;
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .welcome-paragraph {
    margin: 0;
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .welcome-paragraph {
    margin: 0;
    font-size: 18px;
  }
}

.instrument-row {
  object-fit: cover;
  object-position: 50% 35%;
}
@media screen and (min-width: 425px) {
  .instrument-row {
    height: 70vh;
  }
}

@media screen and (max-width: 425px) {
  .instrument-row {
    height: 50vh;
  }
}

.information {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.information-container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-box {
  max-width: 500px;
  border: 2px solid rgb(40, 40, 50);
}

.card-box-text {
  font-size: 16px;
}

.reviews {
  background: rgb(40, 40, 50);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.reviews-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviews-quote {
  margin: 0;
  align-self: center;
  font-size: 24px;
}

.reviews-name {
  font-size: 22px;
  margin-right: 32px;
  align-self: flex-end;
}

.sign-up {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px
}

.sign-up button {
  width: 50%;
}

.footer {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-logo {
  width: 32px;;
}

.footer a .github {
  width: 30px;
}
